.DS_Store
.venv/
data/
.vscode/
animals/
models/
checkpoints/
site/
html/
datasci_217/
*.zip
tmp/
logs/
.env
nanoGPT/
lectures/07/demo/02-model.pt
downloads/
gen-lang-client-0306464806-ee14603523e3.json
*.pyc
