<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or "DataSci 223" }}</title>
  <link rel="stylesheet" href="{{ '/css/prism-dark.css' | url }}">
  <link rel="stylesheet" href="{{ '/css/theme.css' | url }}">
</head>
<body{% if navHidden %} class="nav-hidden"{% endif %}>
  {% include "sidebar.njk" %}
  <main class="main-content">
    <div class="content">
      {{ content | safe }}
    </div>
  </main>
</body>
</html>
